<h1>Thank you for creating a new account!</h1>

<h3>Enter your desired username</h3>
<form action='/users/create_username' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	<input type='text' name='username'>
	<input type='submit' value='create'>
</form>